---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=IV3%205TD&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "IV3 5TD",
                       "short_name" : "IV3 5TD",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Inverness",
                       "short_name" : "Inverness",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Inverness",
                       "short_name" : "Inverness",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Highland",
                       "short_name" : "Highld",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Inverness, Inverness, Highland IV3 5TD, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 57.467432,
                          "lng" : -4.2405328
                       },
                       "southwest" : {
                          "lat" : 57.4635013,
                          "lng" : -4.245873
                       }
                    },
                    "location" : {
                       "lat" : 57.46510619999999,
                       "lng" : -4.2436077
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 57.467432,
                          "lng" : -4.2405328
                       },
                       "southwest" : {
                          "lat" : 57.4635013,
                          "lng" : -4.245873
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 29 Oct 2014 16:18:26 GMT
recorded_with: VCR 2.9.3
