---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=EC2A%203PT&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC2A 3PT",
                       "short_name" : "EC2A 3PT",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Gt Lon",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "London EC2A 3PT, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.52416580000001,
                          "lng" : -0.08055699999999999
                       },
                       "southwest" : {
                          "lat" : 51.5236567,
                          "lng" : -0.0807566
                       }
                    },
                    "location" : {
                       "lat" : 51.52399279999999,
                       "lng" : -0.0806547
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5252602302915,
                          "lng" : -0.07930781970849796
                       },
                       "southwest" : {
                          "lat" : 51.5225622697085,
                          "lng" : -0.08200578029150203
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 22 Oct 2014 22:48:00 GMT
recorded_with: VCR 2.9.3
