.row
  .large-8.large-centered.columns{style: "padding-top: 50px;"}
    %h1 Want to sign up for Emplary?
    %h4{style: "padding-bottom: 30px;"} We are signing up more users and areas as fast as we can while maintaining our service quality.  Please give us your zip code and email address and we'll get in touch as soon as we can help you. 
  .row
    .large-6.large-centered.columns
      = form_tag('/users/create') do
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-address-book{style: "font-size: 2em;"}
          .small-10.columns
            = text_field_tag :zipcode, nil, :placeholder => "Zip code", :required => true
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-mail{style: "font-size: 2em;"}
          .small-10.columns
            = email_field_tag :email, nil, :placeholder => "Email", :required => true
        .row.collapse
          .large-12.large-centered.columns
            = submit_tag "Add me!", :class => "button", :style => "margin-left: 35%;" 
      .row.collapse
        %p.text-center
          Already have an account?
          %a{href: "/sessions/new"} Login here &raquo

