.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height:1em;"}
      Results in #{@full_address}
    %br

Blergh!