%p 
  Welcome 
  = @resource.first_name
  ,
%p You can confirm your account email through the link below:
- puts confirmation_url(@resource, confirmation_token: @token)
%p
  = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
