.row.benefits
  .small-12.large-4.columns.benefit
    %h5 Processed foods
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p We think innovation over many years has mainly created foods that cost less, last longer, look superficially prettier and are easy to eat.  We don’t believe there have been proper tests of what impact those new foods have on health.  The human body is one of the most complex things we know, and adverse effects can build up imperceptibly over many years. 
  .small-12.large-4.columns.benefit
    %h5 Farmed fish
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p We believe the evidence shows that farmed fish (unless kept in extremely specific conditions) have lower levels of omega-3 and are more prone to infection because they are kept crowded together.  We would love to see farmed fish with all the health benefits of wild-caught fish; please let us know of any you discover. 
  .small-12.large-4.columns.benefit
    %h5 Foods that are not organic
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p Until we know the cumulative combined effects over decades of different pesticides on the human body, we believe it is better to avoid them where possible.  Many pesticides accumulate in food and are eaten by humans.  We would like to see proof that pesticides are not linked (alone or in combination) with any of the modern diseases becoming prevalent in developed societies.
.row.benefits{style: "padding-bottom:50px;"}
  .small-12.large-4.columns.benefit
    %h5 Corn-fed meat
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p Cattle evolved to eat grass and other green growing plants rich in chlorophyll.  Feeding cows with corn can cause digestive problems and often requires them to be dosed routinely with antibiotics.  We think grass-fed organic meats are better for your health because they contain more omega-3.
  .small-12.large-4.columns.benefit
    %h5 Eggs that are not pastured
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p Hens naturally prefer to peck at insects and herbs in fields.  Eggs from flocks (preferably from slow-laying breeds) that are allowed to do that for most of the day are richer in omega-3 and a wider range of nutrients than most commercial eggs.
  .small-12.large-4.columns.benefit
    %h5 Canned and smoked foods
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p Smoked foods may contain excess nitrates and studies have associated them with poorer health outcomes.  Canned foods may lose a portion of their nutritional value because vitamins can become denatured.




