.row.benefits{style: "padding-bottom:50px;"}
  .small-12.large-4.columns.benefit
    %h5 Processed foods
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p [Lorem ipsum]
    %h5 Corn-fed meat
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p [Lorem ipsum]
  .small-12.large-4.columns.benefit
    %h5 Eggs that are not pastured
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p [Lorem ipsum]
    %h5 Farmed fish
    %hr{style: "border: 1px solid #BAE7E0;"}
    %p [Lorem ipsum]      
  .small-12.large-4.columns.benefit
    %h5 Canned and Smoked foods
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p [Lorem ipsum]
    %h5 Foods that are not organic
    %hr{style: "border: 1px solid #BAE7E0;"}  
    %p [Lorem ipsum]   

