.row.benefits{style: "padding-bottom:50px;"}
  .small-6.large-4.columns.benefit
    %i.fi-flag.icon
    %h5 Processed foods
    %hr{style: "border: 1px solid #ffd707;"}
    %i.fi-prohibited.icon
    %h5 Corn-fed meat
    %hr{style: "border: 1px solid #ffd707;"}
    %i.fi-target.icon
    %h5 Eggs that are not pastured
    %hr{style: "border: 1px solid #ffd707;"}
    %i.fi-shield.icon
    %h5 Farmed fish
    %hr{style: "border: 1px solid #ffd707;"}
    %i.fi-safety-cone.icon
    %h5 Canned and Smoked foods
    %hr{style: "border: 1px solid #ffd707;"}
    %i.fi-trees.icon
    %h5 Foods that are not organic
    %hr{style: "border: 1px solid #ffd707;"}

%dl.tabs.vertical{"data-tab" => ""}
  %dd.active
    %a{:href => "#panel1"} Tab 1
  %dd
    %a{:href => "#panel2"} Tab 2
  %dd
    %a{:href => "#panel3"} Tab 3
  %dd
    %a{:href => "#panel4"} Tab 4
.tabs-content
  #panel1.content.active
    %p This is the first panel of the basic tab example. This is the first panel of the basic tab example.
  #panel2.content
    %p This is the second panel of the basic tab example. This is the second panel of the basic tab example.
  #panel3.content
    %p This is the third panel of the basic tab example. This is the third panel of the basic tab example.
  #panel4.content
    %p This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.    