
.row{style: "padding-top:30px;"}
  .large-8.large-offset-2.columns
    %h2 
      In your area we recommend:
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{:href => "#panel1"} Queen's Head and Artichoke 
        #panel1.content.active
          %a{:href => "http://www.theartichoke.net", :target => "_blank"} 30-32 Albany St, London NW1 4EA
      %dd.accordion-navigation
        %a{:href => "#panel3"} The Gilbert Scott 
        #panel3.content
          %a{:href => "http://www.thegilbertscott.co.uk/", :target => "_blank"} St Pancras Renaissance Hotel, Euston Rd, London NW1 2AR
      %dd.accordion-navigation
        %a{:href => "#panel4"} Other Options 
        #panel4.content
          %a{:href => "http://www.healthydiningfinder.com", :target => "_blank"} Healthy Dining Finder
          %br
          %a{:href => "http://www.goodfoodnearyou.com", :target => "_blank"} Good Food Near You
      %dd.accordion-navigation
        %a{:href => "#panel5"} Your Favorites 
        #panel5.content
          %p Nothing here yet. Already got an account?
          %a{href: "/sessions/new"} Login here &raquo
