
.row{style: "padding-top:30px;"}
  .large-8.large-offset-2.columns
    %h2 
      In your area we recommend:
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{:href => "#queens_head"} Queen's Head and Artichoke 
        #queens_head.content
          %a{:href => "http://www.theartichoke.net", :target => "_blank"} 30-32 Albany St, London NW1 4EA
          %p 
          %p We recommend:
          %p Organic salmon
          %p Welsh rib eye (no chips)
      %dd.accordion-navigation
        %a{:href => "#gilbert_scott"} The Gilbert Scott 
        #gilbert_scott.content
          %a{:href => "http://www.thegilbertscott.co.uk/", :target => "_blank"} St Pancras Renaissance Hotel, Euston Rd, London NW1 2AR
          %p 
          %p We recommend:
          %p Wild silver mullet
          %p Herdwick lamb
      %dd.accordion-navigation
        %a{:href => "#other_options"} Other options 
        #other_options.content
          %a{:href => "http://www.healthydiningfinder.com", :target => "_blank"} Healthy Dining Finder
          %br
          %a{:href => "http://www.goodfoodnearyou.com", :target => "_blank"} Good Food Near You
      %dd.accordion-navigation
        %a{:href => "#eat_out_favourites"} Your favorites 
        #eat_out_favourites.content
          %p Nothing here yet. 
          .row
            .small-6.columns
              %p Already got an account?
              %a{href: "/sessions/new"} Login here &raquo
            .small-6.columns
              %p 
                %br
              %a{href: "/users/new"} Sign up here &raquo