%section.benefits{style: "background: #ffd707; padding-top:50px; padding-bottom:80px;"}
  .row
    .large-9.large-offset-2.large-centered.columns{style: "padding-top: 40px;"}
      %h1 Discover great food now!
      = form_tag('/users/create') do
        .row
          .small-4.columns
            = text_field_tag :postcode, nil, :placeholder => "Postcode", :required => true
        .row
          .small-11.columns
            %dl.tabs{"data-tab" => ""}
              %dd.active
                %a{:href => "#panel1"} Order In
              %dd
                %a{:href => "#panel2"} Eat Out
              %dd
                %a{:href => "#panel3"} Online 
              %dd
                %a{:href => "#panel4"} Store
              %dd
                %a{:href => "#panel5"} Farmers’ Market
            .tabs-content
              #panel1.content.active
                .row
                  .small-9.columns
                    %a.button{href: "/order_out", style: "margin-left: 40%;" } GET GREAT FOOD  
              #panel2.content
              #panel3.content
              #panel4.content
              #panel5.content
        .row
          .small-11.columns
            %ul.button-group
              %li
                %a.button.secondary{:href => "order_out"} Order In
              %li
                %a.button.secondary{:href => "eat_out"} Eat Out
              %li
                %a.button.secondary{:href => "online"} Online 
              %li
                %a.button.secondary{:href => "store"} Store
              %li
                %a.button.secondary{:href => "farmers_market"} Farmers’ Market         
        .row
          .small-9.columns
            %a.button{href: "/explore", style: "margin-left: 40%;" } GET GREAT FOOD  
            / = submit_tag "GET GREAT FOOD", :class => "button", :style => "margin-left: 45%;" 
        .row
          %p.small-9.columns
            Already got an account?
            %a{href: "/sessions/new"} Login here &raquo
