
.row.home-buttons
  .large-6.columns
    %h4.text-center 
      %small New to Emplary?
    %a.button.expand{href: "/users/new"} START FOR FREE   
  .large-6.columns
    %h4.text-center 
      %small Existing user?
    %a.button.expand.secondary{href: "/sessions/new"} SIGN IN
