.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height: 1em;"}
      BUY ONLINE


.row{style: "padding-top:30px;"}
  .large-10.large-offset-2.columns
    %h2 In your area we recommend:  Ocado
   


.row{style: "padding-top:30px;"}
  .large-10.large-offset-2.columns
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{:href => "#panel1"} 
          Vegetables
          #panel1.content
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Asparagus
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Broccoli
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Carrots
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Lettuce
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Onions
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
            .row
              .small-3.large-3.columns 
                %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Spinach
              .small-3.large-3.columns 
                %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
              .small-6.large-6.columns 
                %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook

      %dd.accordion-navigation
        %a{:href => "#panel2"} Dairy
        #panel2.content
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Butter
            .small-9.large-9.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher Omega-3 content and fewer potentially harmful chemicals"} (why)
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Cheese
            .small-9.large-9.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher Omega-3 content and fewer potentially harmful chemicals"} (why)
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Cream
            .small-9.large-9.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher Omega-3 content and fewer potentially harmful chemicals"} (why)
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Grass-fed organic cow's milk
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher Omega-3 content and fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Grass-fed buffalo milk
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed buffalo milk generally has higher Omega-3 content than cow's milk and lower carbohydrates"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Yoghurt
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#panel3"} Eggs
        #panel3.content
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Pastured eggs (non-Ocado)
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Organic eggs
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#panel4"} Fish
        #panel4.content
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Wild-caught salmon
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Wild-caught salmon has higher ratios of omega-3 "} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#panel5"} Meat
        #panel5.content
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Pastured chicken
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Grass-fed lamb
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Grass-fed beef
            .small-3.large-3.columns 
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic beef contains more omega 3 because the animals are eating their natural diet, and contains fewer potentially harmful chemicals"} (why)
            .small-6.large-6.columns 
              %a{href: "/how_to_cook/asparagus", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#panel6"} Nuts
        #panel6.content
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Organic cashew nuts
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Organic hazelnuts
          .row
            .small-3.large-3.columns 
              %a{href: "http://www.ocado.com/webshop/product/Ocado-Organic-Carrots/65353011?ULP_CAMPAIGN_ID=3&gclid=CPDazsW2pMECFa7KtAodWTkARQ", target:"_blank"} Organic walnuts
           