
.row{style: "padding-top:30px;"}
  .large-8.large-offset-2.columns
    %h2 
      In your area we recommend:
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{:href => "#zesty", :target => "_blank"} Zesty
        #zesty.content
          %a{:href => "http://www.zesty.com", :target => "_blank"} Zesty lets you order healthier meals from your favorite local restaurants. You can filter for low carb, gluten free, paleo and more. 
      %dd.accordion-navigation
        %a{:href => "#spoonrocket"} SpoonRocket
        #spoonrocket.content
          %a{:href => "http://www.spoonrocket.com", :target => "_blank"} SpoonRocket offers convenient meals that are healthier than many other suppliers. 
      %dd.accordion-navigation
        %a{:href => "#sprig", :target => "_blank"} Sprig
        #sprig.content
          %a{:href => "http://www.sprig.com", :target => "_blank"} Healthy lunch and dinner delivery in San Francisco.
      %dd.accordion-navigation
        %a{:href => "#order_in_favorites"} Your favorites 
        #order_in_favorites.content
          %p Nothing here yet. Already got an account?
          %a{href: "/sessions/new"} Login here &raquo
