.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height: 1em;"}
      Great food
      %br
      while keeping healthy.
      %br
      No worries -
      %br
      just buy and eat.
      %br 
      Ready to try Emplary?
      %br
      %a.button{href: "#discover"} START FOR FREE 