.row{style: "padding-top:30px;"}
  .large-8.large-offset-2.columns
    %h2 In your area we recommend:  Waitrose Marylebone
    %dl.accordion{"data-accordion" => ""}
      %dd.accordion-navigation
        %a{:href => "#store_vegetables"} 
          Vegetables
          #store_vegetables.content
            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=43542", target: "_blank"} Asparagus 
                %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
              .small-6.large-6.columns 
                %a{href: "http://www.bbc.co.uk/food/techniques/how_to_cook_asparagus", target:"_blank"} How to cook
            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=73782", target:"_blank"} Broccoli
                %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
              .small-6.large-6.columns 
                %a{href: "http://www.bbc.co.uk/food/broccoli", target:"_blank"} How to cook
            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=43592", target:"_blank"} Carrots
                %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
              .small-6.large-6.columns 
                %a{href: "http://paleogrubs.com/roasted-carrots", target:"_blank"} How to cook
            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=24130", target:"_blank"} Lettuce
                %span.has-tip{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=24130", target:"_blank", "aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?

            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=43590", target:"_blank"} Onions
                %span{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
              .small-6.large-6.columns 
                %a{href: "http://www.splendidtable.org/recipes/classic-oven-roasted-onions", target:"_blank"} How to cook
            .row
              .small-6.large-6.columns 
                %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=10989", target:"_blank"} Spinach
                %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Organic vegetables contain fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
              .small-6.large-6.columns 
                %a{href: "http://www.foodnetwork.com/recipes/ina-garten/garlic-sauteed-spinach-recipe.html", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#store_dairy"} Dairy
        #store_dairy.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=17693", target:"_blank"} Butter
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher omega-3 content and fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=13741", target:"_blank"} Cheese
              %span.has-tip{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=13741", target:"_blank", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=104187", target:"_blank"} Cream
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher omega-3 content and fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=9053", target:"_blank"} Grass-fed organic cow's milk
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher omega-3 content and fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=32245", target:"_blank"} Yoghurt
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic dairy products generally have higher omega-3 content and fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              
      %dd.accordion-navigation
        %a{:href => "#store_eggs"} Eggs
        #store_eggs.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=49035", target:"_blank"} Organic eggs
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Free range organic eggs normally have higher omega-3", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              %a{href: "http://recipes.sparkpeople.com/recipe-detail.asp?recipe=1725001", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#store_fish"} Fish
        #store_fish.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=31555", target:"_blank"} Wild-caught salmon
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Wild-caught salmon has higher ratios of omega-3 ", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              %a{href: "http://www.foodnetwork.com/recipes/giada-de-laurentiis/salmon-baked-in-foil-recipe.html", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#store_meat"} Meat
        #store_meat.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=8914", target:"_blank"} Grass-fed lamb
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic lamb is raised on its natural diet.  It has higher levels of omega 3 and fewer potentially harmful chemicals.", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              %a{href: "http://www.bbcgoodfood.com/recipes/1094/sevenhour-lamb", target:"_blank"} How to cook
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=1739", target:"_blank"} Grass-fed beef
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Grass-fed organic beef contains more omega 3 because the animals are eating their natural diet, and contains fewer potentially harmful chemicals", style: "margin-left: 10px"} ?
            .small-6.large-6.columns 
              %a{href: "http://www.jamieoliver.com/recipes/beef-recipes/perfect-roast-beef/", target:"_blank"} How to cook
      %dd.accordion-navigation
        %a{:href => "#store_nuts"} Nuts
        #store_nuts.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=1493", target:"_blank"} Organic cashew nuts
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Cashew nuts in moderation contain healthy fats and other nutrients", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=23775", target:"_blank"} Organic hazelnuts
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Hazelnuts in moderation contain healthy fats and other nutrients", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=23907", target:"_blank"} Organic walnuts
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Walnuts in moderation contain healthy fats and other nutrients", style: "margin-left: 10px"} ?
      %dd.accordion-navigation
        %a{:href => "#store_oils"} Oils and fats
        #store_oils.content
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=211696", target:"_blank"} Virgin coconut oil
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "This is a good oil for cooking because the fat can tolerate high cooking temperatures without being damaged", style: "margin-left: 10px"} ?
          .row
            .small-6.large-6.columns 
              %a{href: "http://www.waitrose.com/shop/DisplayProductFlyout?productId=48526", target:"_blank"} Organic olive oil
              %a.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Good for salad dressings; we do not recommend cooking with it because it is damaged by high temperature.", style: "margin-left: 10px"} ?
      %dd.accordion-navigation
        %a{:href => "#store_favorites"} Your favorites 
        #store_favorites.content
          %p Nothing here yet. 
          .row
            .small-6.columns
              %p Already got an account?
              %a{href: "/sessions/new"} Sign in &raquo
            .small-6.columns
              %p 
                %br
              %a{href: "/users/new"} Sign up &raquo
    %br
    %h3 Shopping list:
    %br
    .row
      .small-3.small-offset-1.columns
        %i.fi-mail
        Email       
      .small-4.columns
        %i.fi-download
        Download 
      .small-4.columns
        %i.fi-print
        Print
          
           
