%section.testimonial{style: "padding: 150px 0 150px 0; background-image: url(#{asset_path 'SheepInFields.jpg'}); background-size: cover;"} 
  %section.benefits{style: "background: white; opacity: .9; padding: 40px 0 40px 0; "}
    .row
      .large-12.columns
        %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px;"}
          "Emplary's recommendations have helped me lose weight and stay more healthy than I've been in years."
        %h6.text-center
          — Brian, New York


