%section.benefits{style: "background: black; padding: 40px 0 40px 0; "}
  .row
    .large-12.columns
      %h3.text-center{style: "font-family: 'Roboto Condensed', sans; line-height: 1em; padding:0px 60px 30px 60px; color: #BAE7E0;"}
        "Emplary is the easiest way to make sure I'm eating great food to stay healthy." 
      %h6.text-center{style: "color: #BAE7E0;"}
        — Dan, London