.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height:1em;"}
      Results in your area
    %br
.row
  .large-10.large-offset-2.columns
    %dl.tabs{"data-tab" => ""}
      %dd.active
        %a{:href => "#online"} Groceries online 
      %dd
        %a{:href => "#order_in"} Order in
      %dd
        %a{:href => "#eat_out"} Eat out
      %dd
        %a{:href => "#store"} Store
      %dd
        %a{:href => "#farmers_market"} Farmers’ market
.row
  .large-10.large-offset-1.columns      
    .tabs-content
      #online.content.active
        =render "online" 
      #order_in.content
        =render "order_in"
      #eat_out.content
        =render "eat_out"           
      #store.content
        =render "store"      
      #farmers_market.content
        =render "farmers_market"   
