
-# .contain-to-grid.sticky
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"} 
          %i.fi-arrows-in.icon{style: "color: #f03"} 
          Emplary
          %span{style: "font-size: 0.5em; color: #666"}  alpha
    %li.toggle-topbar.menu-icon
      %a{href: "/"}
        Menu
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "#discover"} GET STARTED
      %li
        %a{:href => "/sessions/new"} SIGN IN

